@model List<Tanulokezelo_MVC_API.Models.StudentDTO>

<h2 class="alert-info">Tanulók listája</h2>
<h2>Komment helyett most ez lesz</h2>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>OM azonosító</th>
            <th>Neve</th>
            <th>Kora</th>
            <th>Átlaga</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model)
        {
            <tr>
                <td>@t.OMidentifier</td>
                <td>@t.Name</td>
                <td>@t.Age</td>
                <td>@t.GPA</td>
                <td>    <a class="btn btn-info" asp-action="Details" asp-route-om="@t.OMidentifier">Részletek</a>

                    <a class="btn btn-info" asp-action="Update" asp-route-om="@t.OMidentifier">Módosítás</a> 

                    <a class="btn btn-danger" asp-action="Delete" asp-route-om="@t.OMidentifier">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-info mt-3" asp-controller="Home" asp-action="Create">Új tanuló felvétele</a>
<a class="btn btn-primary mt-3" asp-controller="Home" asp-action="FilterGPA">Szűrés átlag alapján</a>
